<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/ping-time-styles.css">
    <title>Ошибка</title>
</head>
<body>
<div class="page-wrapper">
    <div class="header-main">
        <a th:href="@{/}" class="logo-group">
            <img th:src="${minioBaseUrl} + 'icon.png'" alt="icon" onerror="this.src='/images/icon.png'">
            <span class="logo-title">PINGTEST</span>
        </a>
    </div>

    <div class="main-plate">
        <div class="welcome-title">Ошибка</div>
        <div class="request-info">
            <p>Сообщение об ошибке: <span th:text="${message} ?: 'Заявка не найдена'"></span></p>
        </div>
    </div>
</div>

<div class="footer">Reduct0r 2025</div>
</body>
</html>