<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/ping-time-styles.css">
    <title>ping-time page</title>
</head>
<body>
<div class="page-wrapper">
    <div class="header-main">
        <a th:href="@{/}" class="logo-group">
            <img th:src="${minioBaseUrl} + 'icon.png'" alt="icon" onerror="this.src='/images/icon.png'">
            <span class="logo-title">PINGTEST</span>
        </a>
    </div>

    <div class="main-plate">
        <div class="welcome-title">Время отклика</div>

        <div class="request-info">
            <p>Номер: <span th:text="${ping_time.id}"></span></p>
            <p>Дата создания: <span th:text="${#temporals.format(ping_time.createdAt, 'dd.MM.yyyy HH:mm:ss')}"></span></p>
        </div>

        <div class="container-plate">
            <div class="components-stack">
                <div class="calculations-container">
                    <p class="result-title">Итоговое время: <span th:text="${ping_time.totalTime} + ' мс'"></span></p>  <!-- Результат вычислений -->
                </div>
                <div th:each="item : ${ping_time.items}">
                    <div th:replace="~{ping-time-page/ping-time-component :: ping-time-component(${item})}"></div>
                </div>

                <div class="result-holder">
                    <!--div class="calculate-button">GO</div-->
                    <div th:replace="~{ping-time-page/delete-button :: delete-button(${ping_time.id})}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">Reduct0r 2025</div>

</body>
</html>