<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <link rel="stylesheet" href="styles.css">
    <title></title>
</head>
<body>
    <div class="card-container">
        <div class="card-content-container">
            <img src="images/placeholder_142x142.png" alt="placeholder">
            <p class="card-title">Кэш</p>
            <p class="description">Хранение в памяти для быстрого доступа. Альтернатива БД с приоритетом скорости </p>
            <div class="time">
                <img src="images/ping_icon.svg" alt="ping icon">
                10 мс
                <div th:insert="main/add-button :: add-button"> </div>
            </div>
        </div>
    </div>
</body>
</html>