<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div th:fragment="add-button(componentId)" class="button-container">
    <form th:action="@{/ping-time/add/{componentId}(componentId=${componentId})}" method="post">
        <button type="submit" class="button-content-container" onclick="event.stopPropagation()">
            <img th:src="${plusCircleUrl}" alt="placeholder" onerror="this.src='/images/placeholder_25x25.png'">
            Добавить
        </button>
    </form>
</div>
</body>
</html>