<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>PINGTEST</title>
</head>
<body>
<div class="page-wrapper">
    <div class="header-main">
        <a th:href="@{/}" class="logo-group">
            <img th:src="${iconUrl}" alt="icon" onerror="this.src='images/images/icon.png'">
            <span class="logo-title">PINGTEST</span>
        </a>
    </div>

    <div class="main-plate">
        <div class="welcome-title">Расчет времени отклика веб-приложения</div>
        <div class="search-holder">
            <form th:action="@{/}" method="get" class="search-bar">
                <input type="text" name="filter" th:value="${filter}" placeholder="Поиск услуг">
                <button type="submit" class="search-button">
                    <img th:src="${searchIconUrl}" alt="icon" onerror="this.src='images/placeholder_29x29.png'">
                </button>
            </form>
        </div>

        <div class="container-plate">
            <div class="main-cards-container">
                <div th:each="it : ${components}">
                    <div th:replace="~{main-page/card-component :: card-component(${it})}"></div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="footer">Reduct0r 2025</div>

<a th:href="@{/request/1}" class="request-icon">
    <img th:src="${requestIconUrl}" onerror="this.src='images/placeholder_85x89.png'">
    <span class="request-badge" th:if="${requestSize > 0}" th:text="${requestSize}"></span>
</a>

</body>
</html>