<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles-card-view.css">
    <title th:text="${service.title} + ' - PINGTEST'">Шаблон страницы</title>
</head>
<body>
<div class="page-wrapper">
    <div class="header-main">
        <p class="logo-group" onclick="window.location.href = '/'">
            <img src="/images/icon.png" alt="icon">
            <span class="logo-title">PINGTEST</span>
        </p>
    </div>
    <div class="info-board">
        <div class="text-block">
            <p class="title" th:text="${service.title}">Услуга</p>
            <p class="short-description" th:text="${service.description}">Краткое описание</p>
            <p class="description" th:text="${service.longDescription}">Описание</p>
        </div>
        <div class="image-holder">
            <img th:src="@{'/images/'+${service.image}}" alt="icon" src="">
            <div class="time-holder">
                <div class="time-component">
                    <img src="/images/ping_icon.svg" alt="ping icon">
                    <span th:text="${service.time} + ' мс'">10 мс</span>
                </div>
            </div>
        </div>
    </div>
    <p class="upper-footer"></p>
</div>
</body>
</html>